<!DOCTYPE html>
<html>
<head>
	<title>TweetStoks</title>
	 <!-- Compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css"> --> 
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/animate.css">
	<link rel="stylesheet" href="stylesheets/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		    	<span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand">TwitStoks</a>
		</div>
	
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Home</a></li>
				<li class="dropdown"><a href=""class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
	          		<ul class="dropdown-menu" role="menu">
	            		<li><a href="#">Profile</a></li>
	            		<li><a href="#">Settings</a></li>
	            		<li class="divider"></li>
	            		<li><a href="#">Logout</a></li>
	          		</ul>
	          	</li>
			</ul>
		</div>
	</div>
</nav>
<br/>
<h1 class="text-center">Enter your credentials</h1>
<br/>
<br/>
<div>
	<div class="container">
            <div id="mc_embed_signup">
				<div class="mc-field-group">
                    <input type="text" name="EMAIL" value ="" class="inputMaterial" id="mce-EMAIL" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class = "mce-EMAIL1" for="mce-EMAIL">Email Address</label>
                  </div>
                  <div class="mc-field-group">
                    <input type="password" name="PASSWORD" value ="" class="inputMaterial" id="mce-PASSWORD" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="mce-PASSWORD">Password </label>
                  </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;">
                    <input type="text" name="b_cade943bd8c54b52246a9f3a3_8357f5566f" tabindex="-1" value="">
                  </div>
                  <div class="clear mc-field-group">
                    <input type="submit" value="Login" name="Sign Up" id="mc-embedded-subscribe" class="button">
                  </div>

</div>
</div>
</div>
</body>
<!-- Compiled and minified JavaScript -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/app.js"></script>
</html>